
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<div class="logo-image">
						<img src="./img/main/logo.svg" alt="">
					</div>
					<div class="logo-title">Hypnosis of clinical and experimental psychology</div>
				</a>
			</div>
			<div class="info-wrap">
				<p><b>Свидетельство о регистрации:</b> Серия Эл № ФС77-80823 от 09 апреля 2021 г.</p>
				<p><b>Главный редактор</b> Савченков Александр Витальевич <br> <a href="tel:89511150749" class="link-phone"><b>+7 951 115 07 49</b></a></p>
			</div>
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:89191283768" class="link-phone"><b>+7 919 128 37 68</b></a>
				</div>
				<div class="email-wrap">
					<a href="mailto:magazine@psychd.ru" class="link-email"><b>magazine@psychd.ru</b></a>
				</div>
				<div class="address-wrap">454091, г. Челябинск, ул. Кирова, д. 94, этаж 4, помещение 8</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<p>© 2021 — 2024. Все права защищены.</p>
			<p>Ассоциация психоаналитиков и гипнологов «Психодинамическая школа клинического гипноза». </p>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->

<div class="popup-outer-box" id="popup-sbs">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Подписаться</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" placeholder="Ваше имя" class="form-input">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" placeholder="Ваш email" class="form-input">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						Нажимая на кнопку Отправить, вы соглашаетесь с <a href="" class="link-main">политикой конфиденциальности</a> <a href="" class="link-main">пользовательским соглашением</a>
					</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->