
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">Hypnosis of clinical and experimental psychology</div>
			</a>
		</div>
		<div class="contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:89191283768" class="link-phone">+7 919 128 37 68</a>
			</div>
			<div class="email-wrap">
				<a href="mailto:magazine@psychd.ru" class="link-email">magazine@psychd.ru</a>
			</div>
			<div class="address-wrap">454091, г. Челябинск, ул. Кирова, д. 94, этаж 4, помещение 8</div>
		</div>
	</div>
</header>
<!-- /header -->