<div class="menu-inner-wrap">
	<div class="popup-menu-wrap js-popup-wrap">
		<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
		<div class="popup-content-block js-popup-block">
			<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
			<div class="search-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск по сайту">
					<button type="submit" class="btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Главная</a></li>
					<li><a href="">Методические рекомендации</a></li>
					<li><a href="">Рецензирование</a></li>
					<li><a href="">Архив номеров</a></li>
					<li><a href="">Статьи</a></li>
					<li><a href="">Колонка главного редактора</a></li>
					<li><a href="">О журнале</a></li>
				</ul>
			</div>
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:89191283768" class="link-phone">+7 919 128 37 68</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:magazine@psychd.ru" class="link-email">magazine@psychd.ru</a>
				</div>
				<div class="address-wrap">454091, г. Челябинск, ул. Кирова, д. 94, этаж&nbsp;4, помещение&nbsp;8</div>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-border">Подписаться на журнал</a>
			</div>
		</div>
	</div>
</div>